div.main {
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;

	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	flex-direction: row;

	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	flex-flow: row wrap;

	border: 1px solid #000;
	margin: 10px;
}

.note {
	height: 80px;
	background-color: #fff;
}

.half {
	width: 36px;
	background-image: url("2.png");
}

.quarter {
	width: 27px;
	background-image: url("4.png");
}

.eighth {
	width: 58px;
	background-image: url("8.png");
}

.eighth-triplet {
	width: 73px;
	background-image: url("8-3.png");
}

.sixteenth {
	width: 80px;
	background-image: url("16.png");
}

.eighth-quarter-eighth {
	width: 102px;
	background-image: url("8-4-8.png");
}

.eighth-dot-quarter {
	width: 81px;
	background-image: url("8-d4.png");
}

.dot-quarter-eighth {
	width: 80px;
	background-image: url("d4-8.png");
}

.bar {
	width: 15px;
	background-image: url("bar.png");
}

.four-four {
	width: 35px;
	background-image: url("4_4.png");
}

.five-four {
	width: 35px;
	background-image: url("5_4.png");
}
.three-four {
	width: 25px;
	background-image: url("3_4.png");
}
.two-four {
	width: 36px;
	background-image: url("2_4.png");
}
